body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("./pics/bg3dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px 5px rgba(90, 81, 81, 0.392);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
    border: 3px solid rgb(88, 88, 88);
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background-color: #6c6c6c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 20px;
}

.tabs {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tablink {
    background-color: #6c6c6c;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    float: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.tablink:hover,
.tablink.active {
    background-color: #ddd;
    background: #fff;
    color: #000;
    transform: translateY(-2px);
}

.tabcontent {
    display: none;
    padding: 5px;
    text-align: center;
}

.tabcontent p:nth-child(1){
    margin-top: 0;
    font-size: 20px;

}

.tabcontent img {
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    padding: 3px;
}

.tabcontent img:hover {

    transform: scale(1.02);

    transform: scale(1.05);

}

.car-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.personal-favorites {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.favorite {
    flex: 1;
    margin: 0 10px;
}

.favorite h2 {
    margin-top: 0;
}

@media (max-width: 600px){
    .personal-favorites {
        flex-direction: column;
    }
}